---
import type { PostEntry } from "~types/post.type";
import Layout from "~layouts/BaseLayout.astro";
import { FaClock, FaHashtag, FaUser } from "react-icons/fa";
import IconButton from "~components/Button/IconButton";
import dayjs from "dayjs";
import { render } from "astro:content";
import HeadingsTable from "~components/Table/HeadingsTable.astro";
import PostHero from "~components/Hero/PostHero.astro";

interface Props {
  post: PostEntry;
  isAdmin: boolean;
}

const { post } = Astro.props;

if (!post) {
  return Astro.redirect("/404");
}

const renderResult = await render(post);
const Content = renderResult.Content;
const headings = renderResult.headings;

const formattedDate = dayjs(post.data.createdAt).format("YYYY년 MM월 DD일");
---
<Layout title={post.data.title}>
  <PostHero post={post} slot="hero" />

  <article class="relative mx-auto max-w-4xl px-4  sm:px-6 lg:px-8">
    {/* 본문 */}
    <div class="prose prose-sm md:prose lg:prose-lg mx-auto max-w-none">
      <HeadingsTable headings={headings} />

      {/* 마크다운 콘텐츠 */}
      <div class="prose-headings:text-black-accent prose-a:text-skin-accent prose-blockquote:border-skin-accent prose-blockquote:bg-skin-fill/50 prose-blockquote:text-black-base/80 prose-strong:text-black-accent prose-code:text-skin-accent">
        <Content />
      </div>
    </div>

    {/* 하단 공유 버튼 */}
    <div class="mt-16 mb-16 flex justify-center gap-4">
      <IconButton icon="FaShare" text="공유하기" />
    </div>
  </article>
</Layout>

