---
import type { Series } from "~/types/post.type";
import SeriesCard from "~components/Card/SeriesCard.astro";

// Props: series는 Series 타입 객체 배열입니다.
// 예: { series: string; count: number; ogImage?: string }
interface Props {
  series: Series[];
}

const { series } = Astro.props;
---

<div class="mx-auto mt-16 w-full max-w-4xl px-4 mb-12">
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
    {series.map(item => (
      <SeriesCard {...item} />
    ))}
  </div>
</div>
