---
import AdminOnly from "~common/components/wrappers/admin-only";
import { repositoryContainer } from "~modules/repository.module";
import {
  POST_REPOSITORY,
  type PostRepository,
} from "~modules/repositories/posts/PostRepository";
import BlogDefault from "~features/blog/layouts/blog-default.astro";

export async function getStaticPaths() {
  const postRepository =
    repositoryContainer.get<PostRepository>(POST_REPOSITORY);
  const seriesAndPosts = await postRepository.getAllSeriesAndPosts();
  const seriesResult = seriesAndPosts.map(seriesAndPost => ({
    params: { id: seriesAndPost.series.data.id },
    props: { seriesAndPost },
  }));

  return seriesResult;
}

const { seriesAndPost } = Astro.props;
---

<BlogDefault
  title={seriesAndPost.series.data.name}
  image={seriesAndPost.series.data.ogImage}
  currentPath="/admin/blog/series"
>
  <div class="mb-8">
    <h2 class="text-2xl font-bold text-black-accent">
      {seriesAndPost.series.data.name}
      <span class="text-sm text-black-muted"
        >({seriesAndPost.posts.length})</span
      >
    </h2>
  </div>
</BlogDefault>
<AdminOnly client:load>
  <></>
</AdminOnly>
