---
import Layout from "~layouts/BaseLayout.astro";
import ProjectForm from "~components/Form/ProjectForm";
import { repositoryContainer } from "~modules/repository.module";
import { PROJECT_REPOSITORY, type ProjectRepository } from "~modules/repositories/projects/ProjectRepository";
import AdminOnly from "~components/Wrapper/AdminOnly";
import type { PostRepository } from "~modules/repositories/posts/PostRepository";
import { POST_REPOSITORY } from "~modules/repositories/posts/PostRepository";
import PostForm from "~components/Form/PostForm";
import Hero from "~components/Hero/Hero.astro";
import blogHeader from "~assets/images/blog-header.jpg";

export async function getStaticPaths() {
  const postRepository = repositoryContainer.get<PostRepository>(POST_REPOSITORY);
  const posts = await postRepository.getPosts();
  const tags = await postRepository.getAllTags();
  const series = await postRepository.getAllSeries();

  const postResult = posts.items.map(post => ({
    params: { id: post.id },
    props: { post, tags, series },
  }));

  return postResult;
}

const { post, tags, series } = Astro.props;
---

<Layout title="포스트 수정">
  <Hero
    title="포스트 수정"
    description="포스트 정보를 수정합니다"
    imageSrc={blogHeader.src}
    slot="hero"
  />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
      <PostForm client:only="react" initialData={post} tags={tags} series={series} />
    </div>
  </AdminOnly>
</Layout>
