@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");


@font-face {
  font-family: "BOKEH";
  src: url("../../assets/fonts/bokeh/BOKEH.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* 
@font-face {
  font-family: "Fira Code";
  src: url("../../assets/fonts/firaCode/FiraCode-VariableFont_wght.ttf") format("ttf");
  font-style: normal;
  font-weight: 300 700;
  font-display: swap;
} */

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/PretendardVariable.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PurenJeonnam";
  src: url("../../assets/fonts/purenJeonnam/PureunJeonnam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
