@import url("https://cdn.jsdelivr.net/gh/fonts-archive/BOKEH/BOKEH.css");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css");

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-Thin.otf")
    format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-ExtraLight.otf")
    format("opentype");
  font-weight: 200;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-Light.otf")
    format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-Regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-SemiBold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-ExtraBold.otf")
    format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Pretendard";
  src: url("../../assets/fonts/pretendard/Pretendard-Black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "PurenJeonnam";
  src: url("../../assets/fonts/purenJeonnam/PureunJeonnam.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
