---
import Layout from "~common/layouts/base-layout.astro";
import { repositoryContainer } from "~modules/repository.module";
import {
  POST_REPOSITORY,
  type PostRepository,
} from "~modules/repositories/posts/PostRepository";
import heroMilkyWay from "~assets/images/hero-milkyway.webp";
import {
  SERIES_REPOSITORY,
  type SeriesRepository,
} from "~modules/repositories/series/SeriesRepository";
import IconButton from "~common/components/buttons/icon-button";
import AdminOnly from "~common/components/wrappers/admin-only";
import PostTable from "~features/admin/blog/components/post-table";
import CommonHero from "~common/components/heros/common-hero.astro";
import SeriesManagementTable from "~features/admin/blog/components/series-management-table";
const postRepository = repositoryContainer.get<PostRepository>(POST_REPOSITORY);
const seriesRepository =
  repositoryContainer.get<SeriesRepository>(SERIES_REPOSITORY);
const posts = await postRepository.getPosts();
const series = await seriesRepository.getSeries();
---

<Layout title="포스트 관리">
  <CommonHero title="포스트 관리" imageSrc={heroMilkyWay.src} slot="hero" />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="mb-8">
        <!-- 헤더 -->
        <div class="mb-8 flex items-center justify-between">
          <div>
            <h1 class="text-3xl font-bold text-black-accent">포스트 테이블</h1>
            <p class="mt-2 text-black-muted">
              포스트를 추가, 수정, 삭제할 수 있습니다
            </p>
          </div>
          <IconButton
            client:load
            icon="FaPlus"
            text="새 포스트"
            href="/admin/blog/posts/new"
            variant="primary"
          />
        </div>
        <PostTable posts={posts.items} client:load />
      </div>
      <div class="mb-8">
        <div class="mb-8 flex items-center justify-between">
          <h1 class="text-3xl font-bold text-black-accent">시리즈 테이블</h1>
          <IconButton
            client:load
            icon="FaPlus"
            text="새 시리즈"
            href="/admin/blog/series/edit"
            variant="primary"
          />
        </div>
        <SeriesManagementTable series={series.items} client:load />
      </div>
    </div>
  </AdminOnly>
</Layout>
