---
import Layout from "~layouts/BaseLayout.astro";
import PostTable from "~components/Table/PostTable";
import IconButton from "~components/Button/IconButton";
import AdminOnly from "~components/Wrapper/AdminOnly";
import { repositoryContainer } from "~modules/repository.module";
import {
  POST_REPOSITORY,
  type PostRepository,
} from "~modules/repositories/posts/PostRepository";
import Hero from "~components/Hero/Hero.astro";
import blogHeader from "~assets/images/blog-header.webp";
import {
  SERIES_REPOSITORY,
  type SeriesRepository,
} from "~modules/repositories/series/SeriesRepository";
import SeriesTable from "~components/Table/SeriesTable";
const postRepository = repositoryContainer.get<PostRepository>(POST_REPOSITORY);
const seriesRepository =
  repositoryContainer.get<SeriesRepository>(SERIES_REPOSITORY);
const posts = await postRepository.getPosts();
const series = await seriesRepository.getSeries();
---

<Layout title="포스트 관리">
  <Hero
    title="포스트 관리"
    description="포스트를 추가, 수정, 삭제할 수 있습니다"
    imageSrc={blogHeader.src}
    slot="hero"
  />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
      <div class="mb-8">
        <!-- 헤더 -->
        <div class="mb-8 flex items-center justify-between">
          <div>
            <h1 class="text-3xl font-bold text-black-accent">포스트 테이블</h1>
            <p class="mt-2 text-black-muted">
              포스트를 추가, 수정, 삭제할 수 있습니다
            </p>
          </div>
          <IconButton
            client:load
            icon="FaPlus"
            text="새 포스트"
            href="/admin/blog/posts/new"
            variant="primary"
          />
        </div>
        <PostTable posts={posts.items} client:load />
      </div>
      <div class="mb-8">
        <div class="mb-8 flex items-center justify-between">
          <h1 class="text-3xl font-bold text-black-accent">시리즈 테이블</h1>
          <IconButton
            client:load
            icon="FaPlus"
            text="새 시리즈"
            href="/admin/blog/series/edit"
            variant="primary"
          />
        </div>
        <SeriesTable series={series.items} client:load />
      </div>
    </div>
  </AdminOnly>
</Layout>
