---
// src/pages/new-project.astro
import Layout from "~layouts/BaseLayout.astro";
import PostForm from "~components/Form/PostForm";
import AdminOnly from "~components/Wrapper/AdminOnly";
import Hero from "~components/Hero/Hero.astro";
import blogHeader from "~assets/images/blog-header.jpg";
import { repositoryContainer } from "~modules/repository.module";
import { POST_REPOSITORY, PostRepository } from "~modules/repositories/posts/PostRepository";

const postRepository = repositoryContainer.get<PostRepository>(POST_REPOSITORY);
const tags = await postRepository.getAllTags();
const series = await postRepository.getAllSeries();
---

<Layout title="새 포스트">
  <!-- 헤더 -->
  <Hero
    title="새 포스트"
    description="새로운 포스트를 등록합니다"
    slot="hero"
    imageSrc={blogHeader.src}
  />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
      <PostForm client:only="react" tags={tags} series={series} />
    </div>
  </AdminOnly>
</Layout>
