---
import type { SeriesAndCount } from "~types/post.type";
export interface Props {
  series: SeriesAndCount;
}

const { series } = Astro.props;
const imageUrl = series.series.data.ogImage || "/default-series.jpg";
---

<div class="group relative overflow-hidden bg-transparent">
  <a href={`/blog/series/${encodeURIComponent(series.series.data.id)}`}>
    <!-- 이미지 영역 -->
    <div
      class="h-48 w-full bg-cover bg-center"
      style={`background-image: url(${imageUrl})`}
    >
    </div>
    <!-- 카드 내용 -->
    <div class="py-4">
      <h2 class="text-start text-xl font-bold text-black-accent">
        {series.series.data.name}
      </h2>
      <p class="mt-1 text-sm text-gray-600">{series.count}개의 포스트</p>
    </div>
  </a>
</div>
