---
import Layout from "~layouts/BaseLayout.astro";
import Card from "~components/Card/Card";
import ProjectCard from "~components/Card/ProjectCard";
import { createMockedProject } from "~types/project.type";
import { PiShootingStarFill } from "react-icons/pi";

// 가짜 데이터 예시
const recentProjects = [
  ...Array.from({ length: 6 }, () => createMockedProject()),
];

const recentPosts = [
  {
    title: "Tailwind CSS 활용 꿀팁",
    subtitle: "브랜드 컬러를 변수로 쓰기",
    content: "공통색을 @layer base에 등록하면 ...",
  },
  {
    title: "Astro + React로 블로그 만들기",
    subtitle: "SSG & SPA 혼합 접근",
    content:
      "Astro는 정적 사이트를 만들어주면서도, React 컴포넌트를 쓸 수 있어요. ...",
  },
];
---

<Layout title="홈">
  <div class="mx-auto w-full">
    <!-- Hero 섹션 -->
    <!-- 최근 프로젝트 섹션 -->

    <section class="mb-16 mt-16">
      <div class="mb-8 flex items-center justify-between">
        <h2 class="font-sans text-2xl font-bold text-black-base">
          <span class="text-skin-accent">✦</span> 프로젝트 모음
        </h2>
        <a
          href="/projects"
          class="inline-flex items-center gap-1 font-sans text-sm text-skin-accent hover:text-skin-accent/80"
        >
          More <PiShootingStarFill />
        </a>
      </div>
      <!-- 
        grid-cols-1: 기본 1열
        sm:grid-cols-2: 작은 화면(sm 이상)에서는 2열
        lg:grid-cols-3: 큰 화면(lg 이상)에서는 3열
      -->
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6"
      >
        {
          recentProjects.map(project => (
            <ProjectCard {...project} client:load />
          ))
        }
      </div>
    </section>

    <!-- 최근 블로그 글 섹션 -->
    <section class="mb-16 mt-16">
      <h2 class="mb-8 text-2xl font-bold text-black-base">최근 블로그 글</h2>
      <!-- 
        grid-cols-1: 기본 1열
        sm:grid-cols-2: 작은 화면부터는 2열
      -->
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
        {
          recentPosts.map(post => (
            <Card title={post.title} subtitle={post.subtitle}>
              <p>{post.content}</p>
            </Card>
          ))
        }
      </div>
    </section>
  </div>
</Layout>
