---
import Layout from "~layouts/BaseLayout.astro";
import ProjectCard from "~components/Card/ProjectCard";
import BlogPostCard from "~components/Card/BlogPostCard";
import { PiShootingStarFill } from "react-icons/pi";
import { getProjects } from "~/utils/getProjects";
import { getPosts } from "~utils/getPosts";
import FullImageBlogPostCard from "~components/Card/FullImageBlogPostCard";

// 프로젝트 데이터 가져오기
const recentProjects = await getProjects({
  paging: { page: 0, limit: 5 },
  sort: { field: "endedAt", order: "desc" },
  filter: {
    projectTypes: ["Company-project", "Side-project"],
  },
});

// 블로그 데이터 가져오기
const pinnedPosts = await getPosts({ filter: { pinned: true } });
---

<Layout title="홈">
  <div class="mx-auto w-full">
    <!-- 최근 프로젝트 섹션 -->
    <section class="mb-16 mt-16">
      <div class="mb-8 flex items-center justify-between">
        <h2 class="font-sans text-2xl font-bold text-black-base">
          <span class="text-skin-accent">✦</span> 프로젝트 모음
        </h2>
        <a
          href="/projects"
          class="inline-flex items-center gap-1 font-sans text-sm text-skin-accent hover:text-skin-accent/80"
        >
          More <PiShootingStarFill />
        </a>
      </div>
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6"
      >
        {
          recentProjects.map((project, index) => (
            <div class={`${index >= 3 ? "hidden sm:block" : ""}`}>
              <ProjectCard {...project} client:load />
            </div>
          ))
        }
      </div>
    </section>

    <!-- 최근 블로그 글 섹션 -->
    <section class="mb-16 mt-16">
      {/* 데스크톱 매거진 스타일 레이아웃 */}
      <div class="hidden md:block w-full">
        <div class="mb-8 flex items-center justify-between">
          <h2 class="font-sans text-2xl font-bold text-black-base">
            <span class="text-skin-accent">✦</span> 주목할만한 글
        </h2>
        <a
          href="/blog"
          class="inline-flex items-center gap-1 font-sans text-sm text-skin-accent hover:text-skin-accent/80"
        >
          More <PiShootingStarFill />
        </a>
      </div>
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-3 lg:gap-6">
        {pinnedPosts.slice(0, 5).map((post, index) => (
          <div class={` ${ index === 3 ? " sm:col-span-2" : ""}  h-full`}>
            {index == 3 || index== 2 ? (
              <FullImageBlogPostCard {...post} client:load />
            ) : (
              <BlogPostCard {...post} client:load />
            )}
          </div>
        ))}
      </div>  
      </div>


      {/* 모바일 심플 레이아웃 */}
      <div class="md:hidden w-full">
        <div class="flex flex-col gap-4">
          {pinnedPosts.slice(0,3).map((post) => (
            <BlogPostCard  
              {...post} 
              client:load 
            />
          ))}
        </div>
      </div>
    </section>
  </div>
</Layout>
