---
// src/pages/index.astro
import React from "react";
import BlogPreview from "~components/Blogpreview";
import Hero from "~components/Hero";
import Portfolio from "~components/Portfolio";
// Astro 컴포넌트에서 React 컴포넌트를 사용할 땐 <Hero /> 같이 태그 형태로 바로 쓸 수 있음.
---

<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>astoir의 포트폴리오 & 블로그</title>
    <!-- global.css를 불러오기 위해 다음과 같이 설정 (설정에 따라 다를 수 있음) -->
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body>
    <Hero />
    <Portfolio />
    <BlogPreview />
  </body>
</html>
