---
import Layout from "~layouts/BaseLayout.astro";
import ProjectCard from "~components/Card/ProjectCard";
import BlogPostCard from "~components/Card/BlogPostCard";
import BlogPostListItem from "~components/List/BlogPostListItem";
import { FullImageSeriesCard } from "~components/Card/FullImageSeriesCard";
import { ShootingStarHeader } from "~components/Header/ShootingStarHeader";
import { getProjects } from "~/utils/getProjects";
import { getPosts, getAllSeries } from "~utils/getPosts";

// 프로젝트 데이터 가져오기
const recentProjects = await getProjects({
  paging: { page: 0, limit: 5 },
  sort: { field: "endedAt", order: "desc" },
  filter: {
    projectTypes: ["Company-project", "Side-project"],
  },
});

// 블로그 데이터 가져오기
const pinnedPosts = await getPosts({ filter: { pinned: true } });

const seriesList = await getAllSeries();

---

<Layout title="홈">
  <div class="mx-auto w-full">

        {/* 시리즈 섹션 */}
        <section class="mt-16 mb-16">
          <ShootingStarHeader
            title="시리즈"
            description="연재 중인 시리즈들이에요"
            moreLink="/blog/series"
            client:load
          />
          
          <div class="grid auto-rows-fr gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {seriesList.slice(0, 3).map((seriesData) => (
              <FullImageSeriesCard {...seriesData} client:load />
            ))}
          </div>
        </section>

        
    {/* 주목할만한 글 섹션 */}
    <section class="mb-16">
      <ShootingStarHeader
        title="주목할만한 글"
        description="놓치면 아쉬운 글들이에요"
        moreLink="/blog"
        client:load
      />
      
      <div class="hidden md:block w-full">
        <div class="grid grid-cols-3 gap-4 lg:grid-cols-4 lg:gap-6">
          {pinnedPosts.slice(0, 8).map((post) => (
            <BlogPostCard {...post} client:load />
          ))}
        </div>  
      </div>
      <div class="md:hidden w-full">
        <div class="flex flex-col">
          {pinnedPosts.slice(0,4).map((post) => (
            <BlogPostListItem {...post} client:load />
          ))}
        </div>
      </div>
    </section>

    {/* 프로젝트 섹션 */}
    <section class="mb-16">
      <ShootingStarHeader
        title="프로젝트 모음"
        description="진행했던 프로젝트들이에요"
        moreLink="/projects"
        client:load
      />
      
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6">
        {recentProjects.map((project, index) => (
          <div class={`${index >= 3 ? "hidden sm:block" : ""}`}>
            <ProjectCard {...project} client:load />
          </div>
        ))}
      </div>
    </section>
  </div>
</Layout>
