---
import Layout from "~layouts/BaseLayout.astro";
import BlogPostCard from "~components/Card/BlogPostCard";
import { ShootingStarHeader } from "~components/Header/ShootingStarHeader";
import { repositoryContainer } from "~modules/repository.module";
import {
  PROJECT_REPOSITORY,
  type ProjectRepository,
} from "~modules/repositories/projects/ProjectRepository";
import {
  POST_REPOSITORY,
  type PostRepository,
} from "~modules/repositories/posts/PostRepository";
import type { PostEntry, Tag, Series } from "~types/post.type";
import type { ProjectEntry } from "~types/project.type";
import HomeHero from "~components/Hero/HomeHero";
import type { Paginated } from "~types/page.type";
import HomeSeriesCarousel from "~components/Slider/HomeSeriesSlider";
import HomeProjectSlider from "~components/Slider/HomeProjectSlider";
import HomeTagsSlider from "~components/Slider/HomeTagsSlider";
import HomePinnedPostsSlider from "~components/Slider/HomePinnedPostsSlider";
import HomeProjectIntroSection from "~components/Section/HomeProjectInroSection";
const projectRepository =
  repositoryContainer.get<ProjectRepository>(PROJECT_REPOSITORY);
const postRepository = repositoryContainer.get<PostRepository>(POST_REPOSITORY);

const projects: Paginated<ProjectEntry> = await projectRepository.getProjects({
  paging: { page: 0, limit: 5 },
  sort: { field: "endedAt", order: "desc" },
  filter: {
    projectTypes: ["Company-project", "Side-project"],
  },
});

// 블로그 데이터 가져오기
const pinnedPosts: PostEntry[] = (
  await postRepository.getPosts({
    filter: { pinned: true, draft: false },
  })
).items;
const tags: Tag[] = await postRepository.getAllTags();
const seriesList: Series[] = await postRepository.getAllSeries();

---

<Layout>
  <Fragment slot="hero">
    <HomeHero client:load />
  </Fragment>
  <div class="mx-auto w-full">
    <section class="mb-16">
      <div class="flex flex-col space-y-4">
        <ShootingStarHeader
          title="시리즈"  
          moreLink="/blog/series"
          client:load
        />
        <HomeSeriesCarousel seriesList={seriesList} client:visible/>
      </div>
    </section>
    <section class="mb-16">
      <ShootingStarHeader
        title="주목할만한 글"
        moreLink="/blog"
        client:load
      />
      <HomePinnedPostsSlider pinnedPosts={pinnedPosts} client:visible />
    </section>

    {/* 프로젝트 섹션 */}
    <section class="mb-16">
      <div class="grid h-full -ml-[5vw] 2xl:-ml-[15vw] -mr-[5vw] 2xl:-mr-[15vw] w-[calc(100%+10vw)] 2xl:w-[calc(100%+30vw)] grid-cols-1 md:grid-cols-2 ">
        <HomeProjectIntroSection client:load />
        <HomeProjectSlider projects={projects.items} client:load />
      </div>
    </section>
    {/* 인기 태그 섹션 */}
    <section class="mb-16">
      <ShootingStarHeader
        title="인기 태그"
        description="자주 다루는 주제들이에요"
        moreLink="/blog"
        client:load
      />
      <HomeTagsSlider tagList={tags} client:load />
    </section>
  </div>
</Layout>
