---
// src/pages/new-project.astro
import ProjectForm from "~features/admin/projects/components/project-form";
import AdminOnly from "~common/components/wrappers/admin-only";
import projectHeader from "~assets/images/project-header.webp";
import Layout from "~common/layouts/base-layout.astro";
import CommonHero from "~common/components/heros/common-hero.astro";
---

<Layout title="새 프로젝트">
  <CommonHero title="새 프로젝트" imageSrc={projectHeader.src} slot="hero" />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
      <ProjectForm client:only="react" />
    </div>
  </AdminOnly>
</Layout>
