---
import Layout from "~layouts/BaseLayout.astro";
import ProjectCard from "~components/Card/ProjectCard";

// 가짜 데이터 예시
const recentProjects = [
  {
    id: 1,
    imageUrl: "https://picsum.photos/1200/1000",
    projectAbstract: "Brand Website dev.",
    roles: ["Frontend", "UI/UX", "Animation"],
    companyName: "Samsung Electronics",
    projectName: "Samsung Display Solution",
    projectSlug: "samsung-display",
  },
  {
    id: 2,
    imageUrl: "https://picsum.photos/1100/1000",
    projectAbstract: "Brand Website dev.",
    roles: ["Frontend", "UI/UX", "Animation"],
    companyName: "Samsung Electronics",
    projectName: "Samsung Display Solution",
    projectSlug: "samsung-display",
  },
  {
    id: 3,
    imageUrl: "https://picsum.photos/1000/1000",
    projectAbstract: "Brand Website dev.",
    roles: ["Frontend", "UI/UX", "Animation"],
    companyName: "Samsung Electronics",
    projectName: "Samsung Display Solution",
    projectSlug: "samsung-display",
  },
  {
    id: 4,
    imageUrl: "https://picsum.photos/900/900",
    projectAbstract: "Brand Website dev.",
    roles: ["Frontend", "UI/UX", "Animation"],
    companyName: "Samsung Electronics",
    projectName: "Samsung Display Solution",
    projectSlug: "samsung-display",
  },
];
---

<Layout title="홈">
  <div class="mx-auto w-full">
    <!-- 설명 -->
    <section class="mb-16 mt-16 px-8">
      <p
        class="mb-4 text-3xl font-semibold leading-snug tracking-tight text-black-accent"
      >
        여태까지 만든 프로젝트를 소개합니다.
      </p>
      <p class="text-lg leading-relaxed text-black-base/80">
        하나하나 정성을 담아 만든 프로젝트들이에요. 예쁘게 봐주세요 :)
      </p>
    </section>

    <!-- 최근 프로젝트 섹션 -->
    <section class="mb-16">
      <!-- 
        grid-cols-1: 기본 1열
        sm:grid-cols-2: 작은 화면(sm 이상)에서는 2열
        lg:grid-cols-3: 큰 화면(lg 이상)에서는 3열
      -->
      <div
        class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 lg:gap-6"
      >
        {
          recentProjects.map(project => (
            <ProjectCard {...project} client:load />
          ))
        }
      </div>
    </section>
  </div>
</Layout>
