---
import Footer from "~components/Footer/Footer";
import NavBar from "~components/NavBar/NavBar";
import BreadcrumbNavigator from "~components/Breadcrumb/BreadcrumbNavigator";
import "~styles/global.css";
import Hero from "~components/Hero/Hero";
import { SkeletonProvider } from "~components/Skeleton/SkeletonProvider";
import Seo from "~components/Seo/Seo.astro";
// src/layouts/BaseLayout.astro
const currentPath = Astro.url.pathname;
const shouldRenderHero = currentPath === "/";
const shouldShowBreadcrumb = currentPath !== "/" && currentPath !== "/about"; // 루트 및 특정 경로 제외
---

<!doctype html>
<html lang="ko" data-theme="light" class="w-full">
  <Seo />
  <body class="flex w-full flex-col text-skin-base">
    <!-- 헤더 (NavBar) - 내부에서 Tailwind 반응형 유틸을 사용하여 메뉴 등을 숨기거나 보이도록 처리 가능 -->
    <SkeletonProvider>
      <NavBar
        client:load
        initialShowNav={!shouldRenderHero}
        pathname={currentPath}
      />
      {shouldRenderHero && <Hero client:load />}
      <!-- 메인 콘텐츠 영역: 반응형 컨테이너 적용 예시 -->
      <main class="relative w-full flex-1 bg-skin-background px-[5vw]">
        <!-- Navbar를 보여주는 경우 Navbar+12px 띄워줌 -->
        {!shouldRenderHero && <div class="h-[84px] w-full" />}
        {shouldShowBreadcrumb && <BreadcrumbNavigator pathname={currentPath} />}
        <!-- 페이지별 콘텐츠는 slot을 통해 들어옴 -->
        <slot />
      </main>

      <!-- 푸터 (Footer) -->
      <Footer />
    </SkeletonProvider>
  </body>
</html>
