---
import AdminOnly from "~common/components/wrappers/admin-only";
import heroMilkyWay from "~assets/images/hero-milkyway.webp";
import Layout from "~common/layouts/base-layout.astro";
import ActionCard, { type ActionCardProps } from "~features/admin/action-card";
import CommonHero from "~common/components/heros/common-hero.astro";

const QUICK_ACTIONS: ActionCardProps[] = [
  {
    href: "/admin/projects",
    icon: "FaCode",
    title: "프로젝트 관리",
    description: "프로젝트를 관리합니다",
  },
  {
    href: "/admin/blog",
    icon: "FaPen",
    title: "블로그 관리",
    description: "블로그를 관리합니다",
  },
];
---

<Layout title="관리자 대시보드">
  <CommonHero title="관리자 대시보드" imageSrc={heroMilkyWay.src} slot="hero" />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
      <!-- 빠른 작성 버튼 -->
      <div class="mb-12 grid grid-cols-1 gap-4 sm:grid-cols-2">
        {QUICK_ACTIONS.map(action => <ActionCard {...action} client:load />)}
      </div>
    </div>
  </AdminOnly>
</Layout>
