---
import Layout from "~layouts/BaseLayout.astro";
import { repositoryContainer } from "~modules/repository.module";
import AdminOnly from "~components/Wrapper/AdminOnly";
import type { PostRepository } from "~modules/repositories/posts/PostRepository";
import { POST_REPOSITORY } from "~modules/repositories/posts/PostRepository";
import PostForm from "~components/Form/PostForm";
import Hero from "~components/Hero/Hero.astro";
import heroMilkyWay from "~assets/images/hero-milkyway.webp";
import {
  SERIES_REPOSITORY,
  type SeriesRepository,
} from "~modules/repositories/series/SeriesRepository";

export async function getStaticPaths() {
  const postRepository =
    repositoryContainer.get<PostRepository>(POST_REPOSITORY);
  const posts = await postRepository.getPosts();
  const tags = await postRepository.getAllTags();
  const seriesRepository =
    repositoryContainer.get<SeriesRepository>(SERIES_REPOSITORY);
  const series = await seriesRepository.getSeries();

  const postResult = posts.items.map(post => ({
    params: { id: post.id },
    props: { post, tags, series },
  }));

  return postResult;
}

const { post, tags, series } = Astro.props;
---

<Layout title="포스트 수정">
  <Hero title="포스트 수정" imageSrc={heroMilkyWay.src} slot="hero" />
  <AdminOnly client:load>
    <div class="mx-auto w-full max-w-5xl px-4 py-8 sm:px-6 lg:px-8">
      <PostForm
        client:only="react"
        initialData={post}
        tags={tags}
        series={series.items}
      />
    </div>
  </AdminOnly>
</Layout>
